@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

/***** UNIVERSAL ***********************************/

* {
    font-family: 'Lato', Helvetica, sans-serif;
    color: #333447;
    line-height: 1.5;
  }

body {
      padding: 0;   
      margin: 0;
}


/***** UTILITIES ***********************************/

.container {
    max-width: 1024px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 25px;
}

.flex {
    display: flex;
    height: 100%;
}


/***** HEADER ***********************************/


.navbar  {
    background-color: orange;
    height: 75px;
    border-bottom: 0.1px #319ac7 solid;
}

.navbar .flex{
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar a {
    padding: 10px;
    margin: 0 5px;
    text-decoration: none;
}

.navbar a:hover {
    border-bottom: 3px white solid;
    font-weight: bold;
}

.current a {
    color: white;
}


/***** SHOWCASE ***********************************/

.showcase {
    height: auto;
    background-color: white;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    height: auto;
    padding: 25px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.about-card {
    background-color: orange;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgb(0, 0, 0, 0.6);
    padding: 10px 5px;
    height: auto;
    justify-content: center;
    align-self: flex-start;
}

.about-card h3 {
    text-align: center;
    text-decoration: underline 3.5px white;
}

.about-card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
    border-radius: 5%;
}

.projects-card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgb(0, 0, 0, 0.6);
    padding: 10px 15px;
    height: auto;
    align-self: flex-start;
}

.projects-card h2 {
    text-align: center;
    text-decoration: underline 3.5px #319ac7;
}

.projects-card p {
    font-size: 15.5px;
    text-align: justify;
}


.btn-links {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    background-color: orange;
    border-radius: 5px;
    margin: 1%;
    text-decoration: none;
    font-size: 15.5px;
}

.btn-links:hover {
    transform: scale(0.90);
}

.basic-webpage img, .matching-days img, .dom-intro img, .shoe-catalogue img, .xpense-monitor img {
    float: left;
    padding: 0 10px 10px 5px;
    border-radius: 5%;
    border: 0.1px solid orange;
    box-shadow: 5% rgb(0, 0, 0, 0.9);
    margin: 0 2% 1.5% 0;

}

.matching-days, .dom-intro, .shoe-catalogue, .xpense-monitor, .all-repos {
    clear: left;
    border-top: 0.5px solid orange;
}

.basic-webpage, .matching-days, .dom-intro, .shoe-catalogue, .xpense-monitor {
    margin: 5px;
}

.all-repos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 85px;
}

.all-repos .repo-info {
    display: flex;
    margin: 5px 0 10px 0;
    align-items: center;
}

.all-repos .repo-info .head{
    margin-left: 30px;
    color: orange;
}

.all-repos .repo-info .head a {
    text-decoration: none;
    font-weight: bolder;
    font-size: 17px;
}

.all-repos .repo-info i {
    font-size: 30px;
}


/***** FOOTER ***********************************/

.info {
    margin-top: 10px;
    height: auto;
    background-color: orange;
    border-top: 0.1px #319ac7 solid;
    min-height: 75px;
}

.info .flex{
    justify-content: space-between;
    align-items: center;
}

.copy-info, .socials {
    padding: 0 30px;
}

.copy-info h4 {
    margin: 15px 2.5px 7.5px 2.5px;
}

.copy-info p {
    margin: 2.5px 2.5px 15px 2.5px;
}

.copy-info a {
    color: white;
    text-decoration: none;
}

.socials .fa {
    font-size: 26px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.socials .fa:hover, .copy-info a:hover {
    transform: scale(0.95);
    opacity: 0.5;
}

.socials a {
    padding: 3px 3px;
}

/***** MEDIA QUERY ***********************************/

@media screen and (max-width:992px) {
    .about-card img{
        margin: 5px 9px;
    }

    .info .flex{
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
    }

    .copy-info, .socials {
        padding: 10px 30px;
    }
    
    .copy-info h4 {
        margin: 2.5px 2.5px 2.5px 2.5px;
        text-align: center;
    }
    
    .copy-info p {
        margin: 2.5px 5px 15px 2.5px;
    }
    
    .copy-info a {
        color: white;
        text-decoration: none;
    }

    .socials a {
        padding: 3px 5px;
    }
}

@media screen and  (max-width:688px) {
    .about-card img {
        margin: 5px 6px;
    }

}

@media screen and (max-width: 516px) {
    .navbar {
        height: auto;
    }

    .navbar .flex {
        flex-direction: column;
    }
    .navbar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 5px;
        min-height: 50px;
        background-color: rgb(0, 0, 0, 0.1);
        border-radius: 5px;
        border: 0.1px solid #319ac7;
    }
    
    .navbar a {
        padding: 10px;
        margin: 0 5px;
    }
    
    .navbar a:hover {
        border-bottom: 3px solid white;
        font-weight: bold;
    }
    
    .current a {
        color: white;
    }

    .navbar h3 {
        text-align: center;
    }

    .showcase .grid {
        grid-template-columns: 1fr;
    }

    .about-card img {
        display: block;
        width: 60%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .about-card {
        justify-self: center;
        align-content: center;
        margin: auto;
    }

    .copy-info {
        text-align: center;
    }

    .socials a {
        padding: 10px 5px;
    }

    .socials {
        display: flex;
        flex-wrap: wrap;
        padding: 5px
    }

}

@media screen and (max-width: 440px) {
    .basic-webpage img, .matching-days img, .dom-intro img, .shoe-catalogue img, .xpense-monitor img {
        float: none;
    }

    .projects-card p {
        margin: 7.5px 10px;
    }

}