@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);


/* UNIVERSAL.. */

* {
    font-family: 'Lato', Helvetica, sans-serif;
    color: #333447;
    line-height: 1.5;
}

body {
      /* background-color: orange; */
      padding: 0;   
      margin: 0;
}

ul {
      list-style: none;
}

a {
      text-decoration: none;
}

/* UTILITIES */

.container {
    max-width: 1024px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 25px;
}

.flex {
    display: flex;
    height: 100%;
}


/* HEADER... */

.navbar  {
    background-color: orange;
    height: 75px;
    border-bottom: 0.1px #319ac7 solid;
}

.navbar .flex{
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 3px white solid;
    font-weight: bold;
}

.current a {
    color: white;
}


/* SECTION... */

.about {
    /* background-color: white; */
    padding: 25px;
    /* position: relative; */
}

.card {
    background-color: orange;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgb(0, 0, 0, 0.7);
    padding: 10px 5px;
    width: 85%;
    height: auto;
}

.card h1 {
    text-align: center;
}

.card img{
    float: left;
    border-radius: 7%;
    /* padding: 10px 15px 10px 10px; */
    margin: 5px 20px;
}

.card h3{
    padding-top: 15px;
}

.card p{
    padding: 10px 15px 10px 15px;
    align-items: center;
}


/* FOOTER... */

.info {
    /* padding-top: 40px; */
    height: auto;
    background-color: orange;
    border-top: 0.1px #319ac7 solid;
    min-height: 75px;
}

.info .flex{
    justify-content: space-between;
    align-items: center;
}

.copy-info, .socials {
    padding: 0 30px;
}

.socials .fa {
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.socials .fa:hover {
    transform: scale(0.95);
    opacity: 0.5;
}

.socials a {
    padding: 3px 3px;
}


/* MEDIA QUERY... */

/* @media screen and (max-width:1311px){

} */

@media screen and (max-width:992px) {
    .card img{
        width: 37%;
        height: auto;
        float: left;
        border-radius: 7%;
        margin: 5px 20px;
    }

}

@media screen and  (max-width:688px) {

    .card {
        width: 90%;
    }

}

@media screen and (max-width: 516px) {

    .navbar {
        height: auto;
    }

    .navbar .flex {
        flex-direction: column;
    }
    .navbar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 5px;
        min-height: 50px;
        background-color: rgb(0, 0, 0, 0.1);
        border-radius: 5px;
        border: 0.1px solid #319ac7;
    }
    
    .navbar a {
        padding: 10px;
        margin: 0 5px;
    }
    
    .navbar a:hover {
        border-bottom: 3px solid white;
        font-weight: bold;
    }
    
    .current a {
        color: white;
    }

    .navbar h3 {
        text-align: center;
    }

    .card {
        width: 95%;
    }

    .info .flex {
        flex-direction: column;
    }

    .copy-info {
        text-align: center;
    }

    .socials a {
        padding: 10px 5px;
    }

    .socials {
        display: flex;
        flex-wrap: wrap;
        padding: 5px
    }


}