@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

/* UNIVERSAL.. */

* {
    font-family: 'Lato', Helvetica, sans-serif;
    color: #333447;
    line-height: 1.5;
  }

  body {
      /* background-color: orange; */
      padding: 0;   
      margin: 0;
  }

  ul {
      list-style: none;
  }

  a {
      text-decoration: none;
  }

/* UTILITIES */

.container {
    max-width: 1024px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 25px;
}

.flex {
    display: flex;
    height: 100%;
}

/* HEADER... */

.navbar  {
    background-color: orange;
    height: 75px;
    border-bottom: 0.1px #319ac7 solid;
}

.navbar .flex{
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 3px white solid;
    font-weight: bold;
}

.current a {
    color: white;
}

/* SECTION... */

.about {
    /* background-color: white; */
    background: linear-gradient(orange , white);
    padding: 25px;
    /* position: relative; */
}

/* .about::after {
    content: '';
    position: absolute;
    background-color: white;
    height: 100px;
    bottom: -67px;
    right: 0;
    left: 0;
    transform: skewY(-3deg);

} */

.card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgb(0, 0, 0, 0.7);
    padding: 10px 5px;
    width: 85%;
    height: auto;
    /* overflow: auto; */
    /* position: relative; */
    /* top: 50px; */
    /* z-index: 100; */
}

.card h1 {
    text-align: center;
}

.card img{
    float: left;
    padding: 10px 15px 10px 10px;
}

.card h3{
    padding-top: 15px;
}

.card p{
    padding: 10px 15px 10px 0;
    align-items: center;
}

/* .card .grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: auto;
} */

/* FOOTER... */

.info {
    /* padding-top: 40px; */
    height: auto;
    /* background-color: orange; */
    border-top: 0.1px #319ac7 solid;
    min-height: 75px;
}

.info .flex{
    justify-content: space-between;
    align-items: center;
}

.copy-info, .socials {
    padding: 0 30px;
}

.socials .fa {
    font-size: 23px;
    text-align: center;
    text-decoration: none;
    
}

.socials .fa:hover {
    opacity: 0.8;
}

.socials a {
    padding: 3px 3px;
}

/* MEDIA QUERY... */

@media screen and (max-width:904px) {

}