@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

/* UNIVERSAL.. */

* {
    font-family: 'Lato', Helvetica, sans-serif;
    color: #333447;
    line-height: 1.5;
  }

body {
      /* background-color: orange; */
      padding: 0;   
      margin: 0;
}

ul {
      list-style: none;
}

a {
      text-decoration: none;
}


/* UTILITIES */

.container {
    max-width: 1024px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 25px;
}

.flex {
    display: flex;
    height: 100%;
}


/* HEADER... */

.navbar  {
    background-color: orange;
    height: 75px;
    border-bottom: 0.1px #319ac7 solid;
}

.navbar .flex{
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 3px white solid;
    font-weight: bold;
}

.current a {
    color: white;
}


/* SHOWCASE... */

.showcase {
    height: auto;
    background-color: white;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    height: auto;
    padding: 25px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.about-card {
    background-color: orange;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgb(0, 0, 0, 0.6);
    padding: 10px 5px;
    height: auto;
    justify-content: center;
    align-content: center;
    align-self: flex-start;
}

.about-card h3 {
    text-align: center;
}

.about-card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
    border-radius: 5%;
}

.projects-card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgb(0, 0, 0, 0.6);
    padding: 10px 15px;
    height: auto;
    align-self: flex-start;
}

.projects-card h2{
    text-align: center;
}

.btn-links {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    background-color: orange;
    border-radius: 5px;
    margin: 1%;
}

.btn-links:hover {
    transform: scale(0.90);
}

.basic-webpage img, .tdd-tests img, .dom-intro img, .dom-tests img {
    float: left;
    padding: 0 10px 10px 5px;
    border-radius: 5%;
    border: 0.1px solid orange;
    box-shadow: 5% rgb(0, 0, 0, 0.9);
    margin: 0 2% 1.5% 0;

}

.tdd-tests, .dom-intro, .dom-tests {
    clear: left;
    border-top: 0.5px solid orange;
}

.basic-webpage, .tdd-tests, .dom-intro, .dom-tests {
    margin: 5px;
}


/* FOOTER... */

.info {
    /* padding-top: 40px; */
    height: auto;
    background-color: orange;
    border-top: 0.1px #319ac7 solid;
}

.info .flex{
    justify-content: space-between;
    align-items: center;
}

.copy-info, .socials {
    padding: 0 30px;
}

.socials .fa {
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    color: white;  
}

.socials .fa:hover {
    transform: scale(0.90);
    opacity: 0.5;
}

.socials a {
    padding: 3px 3px;
}

/* MEDIA QUERY... */

@media screen and (max-width:992px) {
    .about-card img{
        margin: 5px 9px;
    }
}

@media screen and  (max-width:688px) {

    .basic-webpage img, .tdd-unit img, .dom-intro img, .dom-tests img {
        width: 55%;
        height: auto;
    }

    .about-card img {
        margin: 5px 6px;
    }

}

@media screen and (max-width: 516px) {

    .navbar {
        height: auto;
    }

    .navbar .flex {
        flex-direction: column;
    }
    .navbar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 5px;
        /* width: auto;
        height: auto; */
        min-height: 50px;
        background-color: rgb(0, 0, 0, 0.1);
        border-radius: 5px;
        border: 0.1px solid #319ac7;
    }
    
    .navbar a {
        padding: 10px;
        margin: 0 5px;
    }
    
    .navbar a:hover {
        border-bottom: 3px solid white;
        font-weight: bold;
    }
    
    .current a {
        color: white;
    }

    .navbar h3 {
        text-align: center;
    }

    .showcase .grid {
        grid-template-columns: 1fr;
        /* width: auto; */
    }

    .about-card img {
        display: block;
        width: 60%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .about-card {
        justify-self: center;
        align-content: center;
        margin: auto;
    }

    .info .flex {
        flex-direction: column;
    }

    .copy-info {
        text-align: center;
    }

    .socials a {
        padding: 10px 5px;
    }

    .socials {
        display: flex;
        flex-wrap: wrap;
        padding: 5px
    }

}